<%= form_with(model: bookshop, local: true) do |form| %>
  <% if bookshop.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(bookshop.errors.count, "error") %> prohibited this bookshop from being saved:</h2>

      <ul>
      <% bookshop.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
